.news .name {
    margin: 10px 0px;
}

.news .img {
    min-height: 20vw;
    overflow: hidden;
}

.news .img img {
    transition: transform 0.5s linear;
}

.news .img:hover img {
    transform: scale(1.2);
}

.news .name a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: var(--fs-large);
    font-weight: 400;
}

.news .description {
    margin-top: 10px;
    opacity: 0.8;
    font-size: var(--fs-medium);
}

.news .description>div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.news .description p {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news .description p:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--black);
}

.small .news {
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    min-height: 100%;
}

.small .news .img {
    min-height: unset;
    width: 100%;
    min-height: 60%;
}

.small .news .name {
    margin: 0px;
}

.small .news .name a {
    font-size: var(--fs-small);
    /* text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
}

.small .news .description {
    display: flex;
}

.small .news .view-count {
    display: none;
}

.small .news .description p {
    opacity: 0.7;
    border: none;
}