.slider {
    width: 100%;
    margin-bottom: 30px !important;
}

.lazy.slider {
    margin-bottom: 0px !important;
}

.lazy .slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-current {
    opacity: 1;
}

.slick-prev {
    left: 20px;
    z-index: 1;
}

.slick-next {
    right: 20px;
    z-index: 1;
}

.slick-dots {
    bottom: 15px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-prev:before,
.slick-next:before {
    --size: 28px;
    font-size: var(--size);
    color: white;
}

.slick-slide {
    opacity: 1;
}

.content-menu {
    background-color: white;
}

.content-menu-item {
    --size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size);
    font-size: calc(var(--size) / 2 - 2px);
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.content-menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.content-menu-item:is(:hover, .active) {
    background-color: var(--red);
}

.course {
    height: 200px;
    text-align: center;
}

.course img {
    margin: 0px auto;
}

.course .name {
    text-transform: uppercase;
    font-size: var(--fs-medium-l);
    font-weight: 700;
    color: var(--blue);
    margin: 10px auto;
    display: block;
    text-decoration: none;
}

.course .description {
    font-size: var(--fs-small-m);
}