.content {
    border: 1px solid #ddd;
}

.content>div {
    margin: 10px;
}

.content .title {
    display: flex;
    justify-content: center;
}

.content .end {
    display: flex;
    justify-content: flex-end;
}

.tags, .keys {
    margin: 25px 0;
}

.tags h4 {
    margin-bottom: 8px;
}

.tag-list, .key-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tag-item {
    margin-bottom: 8px;
    padding: 5px 8px;
    background-color: #E5E5E5;
    margin-right: 8px;
    font-size: var(--fs-small-m);
}

.key-item {
    margin-bottom: 8px;
    padding: 5px 8px;
    border: 1px solid #E5E5E5;
    margin-right: 8px;
    font-size: var(--fs-small-m);
}

.keys {
    margin-bottom: 8px;
}

.keys h4 {
    padding: 5px 8px 5px 0px;
}

.keys>div {
    display: flex;
}

.news, .relate-news {
    margin-top: 25px;
}

.news h2, .relate-news h2 {
    border-bottom: 2px solid var(--black);
    display: inline-block;
}

.news-list {
    list-style: none;
}

.news-item {
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.news-item--selected {
    color: #F2363C;
}

.relate-news__list {
    list-style: none;
    margin-top: 20px;
}

.relate-news__item {
    margin-bottom: 15px;
}

.relate-news__item a {
    display: flex;
    /* align-items: center; */
}

.relate-news__item a img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
}

.relate-news__item a p {
    font-size: var(--fs-small);
}