footer {
    --color: #ffffff;
    background-color: var(--blue);
    padding: 10px;
}

footer * {
    color: var(--color);
}

footer .title {
    margin: 5px 0px 10px 0px;
}

footer .title h2 {
    color: var(--color);
    border-color: var(--color);
    font-size: var(--fs-medium-l);
}

footer .news {
    --size: 100px;
    display: flex;
    justify-content: center;
    height: var(--size);
    margin: 10px 0px;
}

footer .news :is(.img img, .img a, .img) {
    height: var(--size);
    width: var(--size);
    min-height: var(--size);
    object-fit: cover;
}

footer .news .info {
    width: calc(100% - var(--size));
    padding-left: 10px;
}

footer .news .info .name {
    margin: 0px;
}

footer .news .info .name a {
    font-size: smaller;
    color: var(--color);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

footer .get-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer .get-info input {
    margin: 5px 0px;
    padding: 5px;
    border: none;
    border-bottom: 3px solid var(--color);
    outline: none;
    background-color: var(--blue);
    width: 100%;
}

footer .get-info input::placeholder {
    color: var(--color);
    opacity: 0.8;
}

footer .get-info button {
    color: var(--color);
    padding: 10px 15px;
    font-weight: 700;
    background: var(--blue);
    border: 1px solid var(--color);
}

footer .infomation span {
    display: block;
    margin: 10px 0px;
}