header {
    width: 100%;
    background-color: white;
}

header #main-menu {
    z-index: 2;
    position: relative;
    height: auto;
}

header .headbar {
    --height: 35px;
    height: auto;
    min-height: var(--height);
    background-color: var(--green);
    color: white;
    cursor: default;
}

header .headbar :is(.right, .left) {
    display: flex;
    align-items: center;
    height: var(--height);
}

header .headbar .right {
    justify-content: flex-end;
}

header .social-icons a {
    color: white;
    margin: 0px 5px;
    padding: 5px;
    font-size: var(--fs-medium);
}

header .language-setting {
    --size: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .language-setting label {
    cursor: pointer;
}

header .language-setting input {
    display: none;
}

header .language-setting input:checked+label img {
    opacity: 1;
    transform: scale(1.2);
}

header .language-setting img {
    box-sizing: content-box;
    height: calc(var(--size) / 1.7);
    width: var(--size);
    opacity: 0.7;
}

header .language-setting label:not(:first-child) {
    margin-left: 10px;
}

header .menubar {
    --height: 35px;
    height: auto;
    min-height: var(--height);
    display: flex;
}

header .menubar .grid {
    border-top: 3px solid var(--yellow);
}

header .menu-item {
    --size: 35px;
    position: static;
}

header .menu-item a,
header .menu-item>*:first-of-type {
    color: black;
    padding: 10px;
    margin: 0px 15px;
    display: flex;
    align-items: center;
}

header .menu-item a iframe {
    border: none;
    height: 100%;
    display: block;
}

header .menu-item a iframe svg {
    height: var(--size);
    width: var(--size);
}

header .menu-item a img {
    height: var(--size);
    width: var(--size);
    margin-right: 10px;
    fill: black;
    border: none;
    overflow: hidden;
}

header .menu-item:hover>a {
    color: var(--yellow);
}

header .navbar .dropdown-menu:hover .dropdown-content,
header .navbar .dropdown-content:is(.visible) {
    box-shadow: 0px 2px 12px rgb(26 27 134 / 10%);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: white;
    width: 100%;
    grid-gap: 10px;
}

header #main-menu .dropdown-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
}

header .dropdown-content a {
    color: black;
    font-size: var(--fs-medium);
    width: 100%;
    height: var(--size);
    box-sizing: content-box;
}

header .dropdown-menu-item a:hover {
    background-color: var(--yellow);
    color: white;
}

header .educate .dropdown-menu-item a {
    flex-direction: column;
    height: auto;
}

header .educate .dropdown-menu-item a img {
    width: 15%;
    height: auto;
    margin-bottom: 10px;
}

header :is(.research, .admissions, .events) {
    display: flex !important;
    align-items: flex-start;
}

header :is(.research, .admissions, .events)>div:first-child {
    width: 40%;
    height: 200px;
}

header :is(.research, .admissions, .events)>div:last-child {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 60%;
}

header .navbar {
    justify-content: flex-end;
    align-items: center;
    height: var(--height);
    flex-wrap: nowrap;
    position: relative;
}

header .nav-btn {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height);
    cursor: pointer;
    width: var(--height);
    float: right;
}

header .login {
    font-size: 25px;
    margin-left: 15px;
}

header .logo-bar {
    margin: 20px 0px;
}

header .logo,
header .slogan {
    --logo-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: var(--logo-size);
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

header .logo>div {
    margin-left: 15px;
}

header .menubar .logo {
    width: auto;
    height: var(--height);
}

header .menubar .logo img {
    height: var(--height);
    width: var(--height);
    display: none;
}

header .menubar.fixed {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

header .menubar.fixed .logo img {
    display: block;
}

header .logo img {
    height: var(--logo-size);
    width: var(--logo-size);
}

header .logo h1 {
    font-size: var(--fs-medium-l);
    color: var(--blue);
}

header .logo span {
    font-size: var(--fs-medium);
    color: var(--red);
    font-weight: 700;
}

header .slogan span {
    font-size: var(--fs-large);
    font-weight: 700;
    color: var(--green);
    text-align: center;
}

header .search-bar {
    display: block !important;
}

header .search-bar form {
    width: 100%;
    margin: 10px 10%;
}

header .search-bar form label {
    --size: 150px;
    min-width: max-content;
    width: var(--size);
}

header .search-bar form>div {
    margin: 10px 0px;
}

header .search-bar form div {
    display: flex;
    align-items: center;
    overflow: visible;
}

header .search-bar .title-only {
    margin-left: 20px;
}

header .search-bar .title-only input[type="checkbox"] {
    margin: 5px;
}

header .search-bar form input[type="text"] {
    width: 320px;
}

header .search-bar :is(input, select) {
    border: none;
    border-bottom: 1px solid var(--blue);
    padding: 2px 5px;
    outline: none;
}

header .search-bar .time span {
    margin: 5px;
}

header .search-bar button {
    border: none;
    outline: none;
    background: var(--blue);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

header .search-bar button:hover {
    opacity: 0.8;
}